/* import tailwinds start */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* import tailwinds end */

html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.bg-aliceblue {
    background: aliceblue !important;
}